# Machine Learning With Python
Mohammad Monirul Hasan Tipu

Researcher, BARI, Gazipur, Bangladesh

Objectives:
- (A) Load the data, 
- (B) Separating the numeric features and target variable, 
- (C) Split the original dataset into the train set (80%) and the test set (20%), 
- (D) Perform Linear Regression and Predict the 'Price' from the test set, 
- (E) Find the RMSE value from the actual test data and the predicted data.

Original data source: https://www.kaggle.com/aishwaryamuthukumar/cars-dataset-audi-bmw-ford-hyundai-skoda-vw

#### Import required Libraries

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd
import os as os

#### Changing the directory

In [21]:
os.chdir(r'G:\Tipu_BARI_2013\Online courses\EMK_Data Analysis with Python\Data_Analysis_with_Python-main')
os.getcwd()

'G:\\Tipu_BARI_2013\\Online courses\\EMK_Data Analysis with Python\\Data_Analysis_with_Python-main'

#### Load data

In [22]:
df = pd.read_csv("audi.csv")
display(df.head())
print(df.shape)

  model  year  price transmission  mileage fuelType   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  49.6         1.0

(10668, 8)

#### Data information

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   mpg           10668 non-null  float64
 7   engineSize    10668 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 666.9+ KB

#### Viewing the column names

In [24]:
print(df.columns)

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

#### Separating the features and target variable

In [25]:
# only numeric features
features = ['mileage', 'year', 'mpg', 'engineSize']
target = ['price']

X = df[features]
y = df[target]

print(X.shape, y.shape)

(10668, 4) (10668, 1)

#### Create train and test set

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8534, 4) (2134, 4) (8534, 1) (2134, 1)

#### Linear Regression

In [27]:
model = LinearRegression()
model = model.fit(X_train, y_train)

#### Price prediction

In [28]:
y_pred = model.predict(X_test)
print(y_pred)

[[ 8404.61685932]
 [25242.08315391]
 [29769.42539605]
 ...
 [15223.19196191]
 [25409.82306727]
 [12240.88891797]]

In [29]:
print(y_test)

       price
10442   9990
2907   22382
7388   28990
3016   30777
7890   14950
...      ...
8606   31450
8977   12900
3673   16750
1034   21996
6867    9547

[2134 rows x 1 columns]

#### Find the RMSE value

In [30]:
RMSE = mean_squared_error(y_test, y_pred, squared=False)
print(RMSE)

5719.124258888148

##### End of Assignment